   .map-bg {
       background-size: cover;
       min-height: 150px;
       display: flex;
       align-content: flex-end;
       align-items: flex-end;
   }

   .map-bg span {
       /* mix-blend-mode: difference; */
       font-size: 32px;
       color: white;
       font-weight: 400;
       text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
   }

   .bg-dw {
       background-image: url('/assets/img/maps/digital_world.png');
       background-position: center;
   }

   .bg-vb {
       background-image: url('/assets/img/maps/vb.png');
       background-position: center;
   }

   .bg-tropical-jg {
       background-image: url('/assets/img/maps/tropical_jg.png');
       background-position: center;
   }

   .bg-jijimon-house {
       background-image: url('/assets/img/maps/jijimons_house.png');
       background-position: center;
   }

   .bg-leomon-gym {
       background-image: url('/assets/img/maps/leomons_gym.png');
       background-position: center;
   }

   .bg-dojo {
       background-image: url('/assets/img/maps/dojo.png');
       background-position: center;
   }

   .bg-guardromon-shack {
       background-image: url('/assets/img/maps/guardromons_shack.png');
       background-position: center;
   }

   .bg-greymon-shop {
       background-image: url('/assets/img/maps/greymons_shop.png');
       background-position: center;
   }